<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Deedle" version="2.1.2" targetFramework="net471" />
  <package id="DiffSharp" version="0.7.7" targetFramework="net471" />
  <package id="FSharp.Core" version="4.7.0" targetFramework="net471" />
  <package id="FSharp.Quotations.Evaluator" version="2.0.0" targetFramework="net471" />
  <package id="MathNet.Numerics" version="4.9.0" targetFramework="net471" />
  <package id="MathNet.Numerics.FSharp" version="4.9.0" targetFramework="net471" />
  <package id="PLplot" version="5.13.7" targetFramework="net471" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net471" />
</packages>